body	{
	background-color: rgb(63, 81, 181);
	font-family: 'Ubuntu', sans-serif;
}

a		{
	color: black;
}

#header	{
	height: 15vh;
	margin-top: 10px;
	box-shadow: 0px 0px  5px black;
	background-color: rgb(48,63,159);
	text-align: center;
	position: relative;
}

@media only screen and (max-height: 850px) {
	#header {height: 130px;}
}

#title	{
	font-size: 50px;
	display: inline-block;
	margin-top: 15px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 15px;
}

#title br {
	display: none;
}

#log	{
	width: 20vw;
	height: 13vh;
	right: 1vw;
	top: 1vh;
	display:block;
	position: absolute;
	text-align: right;
}

@media only screen and (max-width: 750px) {
	#log {width: 100px;}
	#title br {display: inline;}
	#header {text-align: left;}
}

@media only screen and (max-width: 450px) {
	#log {display: none;}
	#title {width: 350px;}
}
.form_text {
	width: 15vw;
}

#submit_log {
	width: 80px;
}

#middle {
	display: grid;
	grid-gap: 20px;
	height: 70vh;
}
#left	{
	margin-top: 20px;
	margin-left: 20px;
	height: 70vh;
	background-color: rgb(48,63,159);
	box-shadow: 0px 0px  5px black;
	width: 200px;
	display: inline-grid;
	grid-template-rows: 80px 80px 80px;
	grid-column-start: 1;
  	grid-column-end: 1;
}

.link_button {
	width: 180px;
	border-radius: 5px;
	height: 50px;
	margin-top: 10px;
	margin-left: 10px;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	border: solid black 2px;
}

#button_home:hover {
	background-color: #3F51B5;
	box-shadow: 0px 0px  10px black;
}

#button_shop:hover {
	background-color: #3F51B5;
	box-shadow: 0px 0px  10px black;
}

#button_account:hover {
	background-color: #3F51B5;
	box-shadow: 0px 0px  10px black;
}

#footer {
	height: 5vh;
	background-color: rgb(48,63,159);
	box-shadow: 0px 0px  5px black;
	margin-top: 40px;
}

#right	{
	margin-top: 20px;
	margin-right: 20px;
	height: 70vh;
	background-color: rgb(48,63,159);
	box-shadow: 0px 0px  5px black;
	width: 70vw;
	display: inline-grid;
	grid-column-start: 2;
  	grid-column-end: 2;
}

iframe {
	display: inline-grid;
	grid-column-start: 2;
	grid-column-end: 2;
	width: 70vw;
	height: 70vh;
}

@media only screen and (max-width: 860px) {
	#right {width: 50vw;}
	iframe {width: 50vw;}
}

@media only screen and (max-width: 600px) {
	#right {display: none;}
	iframe {display: none;}
}
