body
{
	background-color:#3EA3DC;
}
#menu
{
	height:100%;
	width:100%;
	margin-left:300px;
}
#menu ul
{
	margin:0;
	padding:0;
	padding:0;
	list-style-type:none;/*pour pas qu'il y a des points*/
	text-align:center;
}
#menu li
{
	float:left;/*pour pas que les sous menu soit decallee*/
	background-color:#8A3AA4;
	border-radius: 9px 9px 9px 9px;
}

#menu li a
{
	display:block;
	width:250px;
	color:white;
	text-decoration:none;
	padding:20px;
	border: 0.5px solid #CA89ED;
	border-radius: 9px 9px 9px 9px;
	
}
#menu li a:hover
{
	color:#3EA3DC;
}

#menu ul li ul
{
	display:none;
}

#menu ul li:hover ul
{
	display:block;/*afficher les sous block*/
}

#menu li:hover ul li
{
	float:none;
}
