h2
{
	text-align:center;
	font-size:1vw;
}
table
{
	width: 100%;
	height: 100%;
}
.no_border
{
	border: none;
}
td p
{
	font-size:1vw;
}
td
{
	text-align: center;
	position: relative;
	border: 1px solid black;
}
.poids{
	position: absolute;
	text-align: right;
	margin-right: 3px;
	margin: 0;
	top: 0;
	right: 0;
}
.numero
{
	position: absolute;
	text-align: left;
	margin: 0;
	bottom: 0;
}
.orangeclair
{
	background-color:#FAAC58;
}
.violet
{
	background-color:#9F81F7;
}
.bleu
{
	background-color:#81DAF5;
}
.gris
{
	background-color:#A4A4A4;
}
.jaune
{
	background-color:#D7DF01;
}
.vertclair
{
	background-color:#3ADF00;
}
.rose
{
	background-color:#DF01D7;
}
.vertfoncer
{
	background-color:#31B404;
}
.vert
{
	background-color:#86B404;
}
.jauneclair
{
	background-color:#F4FA58;
}
.orange
{
	background-color:#FE9A2E;
}
